*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#111;
    color:white;
    padding:30px;
}

.container{
    max-width:900px;
    margin:auto;
}

h1{
    text-align:center;
    margin-bottom:20px;
}

.form{
    display:flex;
    gap:10px;
    margin-bottom:20px;
}

input,select{
    padding:10px;
    flex:1;
}

button{
    padding:10px 20px;
    background:#ff6600;
    color:white;
    border:none;
    cursor:pointer;
}

table{
    width:100%;
    border-collapse:collapse;
    background:#222;
}

th,td{
    padding:12px;
    border:1px solid #444;
    text-align:center;
}

button:hover{
    background:#ff8533;
}